<!-- <div class="container">
    <p>home works!</p>
    <div class="row" style="background-color: red;">
      <div class="col-sm-6">1</div>
      <div class="col-sm-6">2</div>
    </div>
  </div> -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <!-- <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul> -->
          <h2 class="text-uppercase">Encuentra las mejores opciones en</h2>
          <p>articulos electronicos</p>
          <!-- <a class="primary-btn cta-btn" href="#">Descubrir >></a> -->
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section" style="margin-bottom: 30px">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Productos destacados</h3>
          <!-- <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                            <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                            <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                            <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                        </ul>
                    </div> -->
        </div>
      </div>
      <!-- /section title -->

      <ng-container *ngFor="let product of products">
        <!-- Products tab & slick -->
        <div class="col-md-4 col-lg-3 col-sm-12" style="margin: 0px">
          <div class="row">
            <div class="products-tabs">
              <!-- tab -->
              <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                  <!-- product -->
                  <div class="product">
                    <div
                      class="product-img"
                      (click)="seeMore(product)"
                      style="cursor: pointer"
                    >
                      <!-- <img src="{{product.images.split(',')[0]}}" alt="" /> -->
                      <img class="product-image" src="https://azurefiletestexpress.blob.core.windows.net/imagen-producto/{{product.product_image}}" alt="">
                      <!-- <div class="product-label"> 
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div> -->
                    </div>
                    <div class="product-body">
                      <p class="product-category">
                        Cant. Disp. {{ product.cantidad }}
                      </p>
                      <!-- <p class="product-category">{{ product.category }}</p> -->
                      <h3 class="product-name">
                        <a (click)="seeMore(product)" style="cursor: pointer">{{
                          product.name
                        }}</a>
                      </h3>
                      <h4 class="product-price">
                        $ {{ product.price }}
                        <!-- <del class="product-old-price">$990.00</del> -->
                      </h4>
                      <!-- <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div> -->
                      <div class="product-btns">
                        <button
                          class="add-to-wishlist"
                          (click)="addToWishList(product)"
                        >
                          <i
                            style="color: red"
                            *ngIf="selectedItemWish(product) == true"
                            class="fa fa-heart"
                          ></i>
                          <i
                            *ngIf="selectedItemWish(product) == false"
                            class="fa fa-heart"
                          ></i>

                          <span class="tooltipp">add to wishlist</span>
                        </button>
                        <!-- <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> -->
                        <!-- <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button> -->
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button
                        class="add-to-cart-btn"
                        type="button"
                        (click)="addToCart(product)"
                      >
                        <i class="fa fa-shopping-cart"></i> add to cart
                      </button>
                    </div>
                  </div>

                  <!-- /product -->
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
              </div>
              <!-- /tab -->
            </div>
          </div>
        </div>
        <!-- Products tab & slick -->
      </ng-container>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
