

<div class="container">
  <div class="row" style="margin: 30px 0 30px 0">
    <h3 style="margin-top: 30px;">Carrito de compras</h3>
    <div class="col-sm-12">
        Resumen
        <hr>
    </div>
    <div class="col-sm-8">
    
      <div class="col-sm-12" *ngIf="!products.length">
        <h5>No tienes articulos en tu carrito</h5>
      </div>
      <ng-container *ngFor="let product of products">
        <div class="col-sm-12 contenedorData">
          <div class="col-sm-2">
            <img
              src="https://azurefiletestexpress.blob.core.windows.net/imagen-producto/{{ product.product.product_image }}"
              width="100"
              alt=""
            />
          </div>
          <div class="col-sm-8">
            <strong class="seeProduct"   (click)="seeMore(product)" >
              {{ product.product.name }}
            </strong>
            <p>Cant: {{ product.quantity }} x</p>
            <p>
              <!-- {{ product.product.category }} -->
            </p>
          </div>
          <div class="col-sm-2">
            <strong>
              {{ product.total | currency }}
            </strong>
            <p>
              <a (click)="deleteItemCart(product)" style="text-decoration: underline; cursor: pointer;">Eliminar</a>
            </p>
          </div>
          <hr />
        </div>
      </ng-container>
    </div>
    <div class="col-sm-4" *ngIf="products.length">
      <div class="contenedorData">
        <p>Subtotal ( {{ products.length }} Productos)</p>
        <p>Total a pagar: <strong> {{subtotal(products) | currency}} </strong> </p>
        <div class="product">
          <!-- <div class="product-body">
                  
                </div> -->
          <div class="add-to-cart">
            <button
            (click)="navigateToPath('store/checkout')"
            class="add-to-cart-btn" type="button">
              <i class="fa fa-credit-card"></i> Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
