<div class="container">
  <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3 style="color: #d10024">Informacion del cliente</h3>
          <hr />
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Nombre</label
            ><input type="text" class="form-control" formControlName="name" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Correo electronico</label
            ><input type="text" class="form-control" formControlName="email" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Telefono</label
            ><input type="text" class="form-control" formControlName="phone" />
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3 style="color: #d10024">Informacion de entrega</h3>
          <hr />
        </div>
        <div class="col-sm-6">
          <label for="">Forma de entrega</label>
          <div class="form-group">
            <input checked type="radio" name="" id="sucursal" />
            <label for="sucursal" style="margin-left: 5px; font-size: 12px"
              >Retirar en sucursal</label
            >
          </div>
        </div>
        <div class="col-sm-6">
          <label for="">Sucursal</label>
          <div class="form-group">
            <input checked type="radio" name="" id="sucursal" />
            <label for="sucursal" style="margin-left: 5px; font-size: 12px"
              >San Salvador</label
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3 style="color: #d10024">Informacion de pago</h3>
          <hr />
        </div>
        <div class="col-sm-12">
          <label for="">Forma de pago</label>
          <div class="form-group">
            <input checked type="radio" name="" id="sucursal" />
            <label for="sucursal" style="margin-left: 5px; font-size: 12px"
              >Tranferencia</label
            >
          </div>
        </div>
        <div
          class="col-sm-12"
          style="
            color: #3378b9;
            border: 1px solid #9ecaf3;
            background: #dbedfd;
            padding: 20px;
          "
        >
          <p>
            <i class="fa fa-warning fa-lg"></i>
            <b> Importante </b>
          </p>
          <p>
            1. Realizar la transferencia desde la plataforma del banco de su
            preferencia.
          </p>
          <p>
            2. Elija una de las siguientes cuentas a donde hará el depósito:
          </p>
          <p>
            <li>Banco Cuscatlan - No Cuenta: 016401000572839</li>
          </p>
        </div>
        <div class="col-sm-12">
          <label for="">Cuenta bancaria</label>
          <div class="form-group">
            <input
              type="radio"
              value="016401000572839"
              name="cuentaBancaria"
              id="1"
              formControlName="cuentaBancaria"
            />
            <label for="1" style="margin: 0 15px 0 5px; font-size: 12px"
              >Banco Cuscatlan (016401000572839)</label
            >
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
