<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <h3 style="color: #d10024">Informacion del cliente</h3>
        <hr />
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Nombre</label><input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Correo electronico</label
          ><input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Telefono</label
          ><input type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <h3 style="color: #d10024">Informacion de entrega</h3>
        <hr />
      </div>
      <div class="col-sm-6">
        <label for="">Forma de entrega</label>
        <div class="form-group">
          <input checked type="radio" name="" id="sucursal" />
          <label for="sucursal" style="margin-left: 5px; font-size: 12px"
            >Retirar en sucursal</label
          >
        </div>
      </div>
      <div class="col-sm-6">
        <label for="">Sucursal</label>
        <div class="form-group">
          <input checked type="radio" name="" id="sucursal" />
          <label for="sucursal" style="margin-left: 5px; font-size: 12px"
            >San Salvador</label
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <h3 style="color: #d10024">Informacion de pago</h3>
        <hr />
      </div>
      <div class="col-sm-12">
        <label for="">Forma de pago</label>
        <div class="form-group">
          <input checked type="radio" name="" id="sucursal" />
          <label for="sucursal" style="margin-left: 5px; font-size: 12px"
            >Tranferencia</label
          >
        </div>
      </div>
      <div
        class="col-sm-12"
        style="
          color: #3378b9;
          border: 1px solid #9ecaf3;
          background: #dbedfd;
          padding: 20px;
        "
      >
        <p>
          <i class="fa fa-warning fa-lg"></i>
         <b>
             Importante
         </b>
        </p>
        <p>
          1. Realizar la transferencia desde la plataforma del banco de su
          preferencia.
        </p>
        <p>2. Elija una de las siguientes cuentas a donde hará el depósito:</p>
        <p>
          <li>Banco Cuscatlan - No Cuenta: 7540010506</li>
          <li>Banco America Central - No Cuenta: 200818169</li>
          <li>Banco Agricola - No Cuenta: 5430037189</li>
        </p>
      </div>
      <div class="col-sm-12">
        <label for="">Cuenta bancaria</label>
        <div class="form-group">
          <input  type="radio" name="cuentaBancaria" id="1" />
          <label for="1" style="margin:0 15px 0 5px; font-size: 12px"
            >Banco Cuscatlan (7540010506)</label
          >
          <input  type="radio" name="cuentaBancaria" id="2" />
          <label for="2" style="margin:0 15px 0 5px; font-size: 12px"
            >Banco Cuscatlan (7540010506)</label
          >
          <input  type="radio" name="cuentaBancaria" id="3" />
          <label for="3" style="margin:0 15px 0 5px; font-size: 12px"
            >Banco Cuscatlan (7540010506)</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
