<div class="container">
  <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3 style="color: #d10024">Informacion del cliente</h3>
          <hr />
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Nombre</label
            ><input
              type="text"
              class="form-control"
              formControlName="userName"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Correo electronico</label
            ><input type="text" class="form-control" formControlName="email" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Telefono</label
            ><input type="text" class="form-control" formControlName="phone" />
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3 style="color: #d10024">Informacion de entrega</h3>
          <hr />
        </div>
        <div class="col-sm-6">
          <label for="">Forma de entrega</label>
          <div class="form-group">
            <input
              checked
              value="1"
              type="radio"
              name=""
              id="sucursal"
              forcControlName="deliveryType"
            />
            <label for="sucursal" style="margin-left: 5px; font-size: 12px"
              >Retirar en sucursal</label
            >
          </div>
        </div>
        <div class="col-sm-6">
          <label for="">Sucursal</label>
          <div class="form-group">
            <input
              checked
              type="radio"
              value="1"
              name=""
              id="sucursal"
              formControlName="branchOfficeId"
            />
            <label for="sucursal" style="margin-left: 5px; font-size: 12px"
              >San Salvador</label
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3 style="color: #d10024">Informacion de pago</h3>
          <hr />
        </div>
        <div class="col-sm-12">
          <label for="">Forma de pago</label>
          <div class="form-group">
            <input
              checked
              type="radio"
              value="1"
              name=""
              id="sucursal"
              formControlName="typeOfPurchase"
            />
            <label for="sucursal" style="margin-left: 5px; font-size: 12px"
              >Tranferencia</label
            >
          </div>
        </div>
        <div
          class="col-sm-12"
          style="
            color: #3378b9;
            border: 1px solid #9ecaf3;
            background: #dbedfd;
            padding: 20px;
          "
        >
          <p>
            <i class="fa fa-warning fa-lg"></i>
            <b> Importante </b>
          </p>
          <p>
            1. Realizar la transferencia desde la plataforma del banco de su
            preferencia.
          </p>
          <p>
            2. Elija una de las siguientes cuentas a donde hará el depósito:
          </p>
          <p>
            <li>Banco Cuscatlan - No Cuenta: 016401000572839</li>
          </p>
        </div>
        <div class="col-sm-12">
          <label for="">Cuenta bancaria</label>
          <div class="form-group">
            <input
              checked
              type="radio"
              value="016401000572839"
              id="1"
              formControlName="accountNumberStore"
            />
            <label for="1" style="margin: 0 15px 0 5px; font-size: 12px"
              >Banco Cuscatlan (016401000572839)</label
            >
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="account_owner"
              >Titular de la cuenta <span style="color: red">*</span> </label
            ><input
              type="text"
              value=""
              class="form-control"
              id="account_owner"
              formControlName="bankAccountHolder"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="account_owner"
              >Numero de la cuenta <span style="color: red">*</span> </label
            ><input
              type="text"
              value=""
              class="form-control"
              id="account_owner"
              formControlName="customerAccount"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="description"
              >Concepto <span style="color: red">*</span></label
            ><input
              type="text"
              value=""
              class="form-control"
              id="description"
              formControlName="concept"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="reference_number">
              Numero de deposito <span style="color: red">*</span></label
            ><input
              type="text"
              value=""
              class="form-control"
              id="reference_number"
              formControlName="depositNumber"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="amount">
              Monto <span style="color: red">*</span>
              <strong> {{ subtotal(products) | currency }}</strong> </label
            ><input
              type="number"
              value=""
              class="form-control"
              id="amount"
              formControlName="amount"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="proof_payment">
              Comprobante de pago <span style="color: red">*</span></label
            ><input
              type="file"
              value=""
              class="form-control"
              id="proof_payment"
              accept="image/*"
              (change)="changeImage($event)"
            />
            <input type="hidden" formControlName="image" />
          </div>
        </div>
        <div
          class="col-sm-12 image-container"
          style="
            max-height: 300px;
            min-height: 100px;
            text-align: center;
            margin: 0 0 10px 0;
            width: 100%;
            border: 1px solid #ccc;
          "
        >
          <img
            *ngIf="imageSrc"
            [src]="imageSrc"
            style="max-height: 300px; width: 100%"
            alt="comprobante-pago"
          />
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <input
            type="checkbox"
            formControlName="terms_agree"
            id="terms_agree"
          />
          <label for="terms_agree" style="margin-left: 5px">
            Acepto los términos y condiciones de pago, envío y garantías al
            realizar la compra
            <span style="color: red"> * </span>
          </label>
        </div>
      </div>
      <div class="col-sm-12" style="margin-bottom: 0px">
        <div class="col-sm-12 contenedorData">
          <h4>Resumen de la orden</h4>
          <hr />
        </div>
        <ng-container *ngFor="let product of products">
          <div class="col-sm-12 contenedorData">
            <div class="col-sm-2">
              <img
                src="https://azurefiletestexpress.blob.core.windows.net/imagen-producto/{{
                  product.product.product_image
                }}"
                width="100"
                alt=""
              />
            </div>
            <div class="col-sm-8">
              <strong class="seeProduct" (click)="seeMore(product)">
                {{ product.product.name }}
              </strong>
              <p>Cant: {{ product.quantity }} x</p>
              <p>
                <!-- {{ product.product.category }} -->
              </p>
            </div>
            <div class="col-sm-2">
              <strong>
                {{ product.total | currency }}
              </strong>
              <p>
                <a
                  (click)="deleteItemCart(product)"
                  style="text-decoration: underline; cursor: pointer"
                  >Eliminar</a
                >
              </p>
            </div>
            <hr />
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-sm-12 contenedorData" *ngIf="products.length">
      <div style="padding: 15px; text-align: right">
        <p>Subtotal ( {{ products.length }} Productos)</p>
        <p>
          Total a pagar: <strong> {{ subtotal(products) | currency }} </strong>
        </p>
      </div>
    </div>
    <div
      class="col-sm-12"
      style="padding: 15px; text-align: center; margin: 0 auto"
    >
      <button style="width: 200px" type="submit" class="btn btnPrimary-inverse">
        Reservar
      </button>
    </div>
  </form>
</div>
