<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ng-container *ngIf="product?.imagen">
        <div class="col-sm-12">
          <img style="width: 100%;" src="https://azurefiletestexpress.blob.core.windows.net/imagen-producto/{{product.product_image}}" alt="">
        </div>
        <div class="col-sm-12">
          <!-- <carousel
            (events)="handleCarouselEvents($event)"
            arrowsTheme="dark"
            [counter]="true"
            [arrowsOutside]="false"
            [loop]="true"
            [dots]="true" -->
          >
            <!-- <div class="carousel-cell" *ngFor="let item of imagesProduct">
              <img src="{{ item }}" />
            </div> -->
          <!-- </carousel> -->
        </div>
      </ng-container>
    </div>
    <div class="col-sm-6" style="padding: 60px">
      <h1>{{ product?.name }}</h1>
      <!-- <p><b>Cantidad Disponible</b>: {{ product.stock_available }}</p> -->
      <!-- <p><b>Categoria: </b>{{ product.category }}</p> -->
      <h4>
        <strong>
          {{ product?.price | currency }}
        </strong>
      </h4>
      <!-- <p>{{ product.description }}</p> -->
      <div class="product">
        <div class="product-body">
          <div class="product-btns">
            <button class="add-to-wishlist" (click)="addToWishList(product)">
              <i
              style="color: red;"
              *ngIf="selectedItemWish(product) == true"
                class="fa fa-heart"
              ></i>
              <i
              *ngIf="selectedItemWish(product) == false"
                class="fa fa-heart"
              ></i>
              <span class="tooltipp">add to wishlist</span>
            </button>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="add-to-cart-btn" type="button" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i> add to cart</button>
      </div>
      </div>
      <br />
      <hr />
      <h4>Especificaciones</h4>
      <div class="col-sm-12">
        <ng-container *ngFor="let item of Specs">
          <hr />
          <div class="col-sm-6" style="text-transform: capitalize">
            <b> {{ item.name }}:</b>
          </div>
          <div class="col-sm-6">{{ item.description }}</div>
          <hr />
        </ng-container>
      </div>
      <hr />
    </div>
  </div>
</div>
